<h3>Comments</h3>
<% @post.comments.each do |comment|%>
 	<div class="well">
		<strong><%=comment.user%></strong>:
		<%=comment.content%>
		<%= link_to "[X]", [comment.post,comment],
						   method: :delete,
						   data: {confirm: 'Are you sure ?'}
		%>
	</div>
<% end %>